* {
    font-family: "Times New Roman" , sans-serif;
    font-size: 100%;
}

.main-content {
    width: 100%;
    height: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {

}