* {
    font-family: Arial;
    font-size: 100%;
}

.main-content {
    width: 100%;
    height: 980px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
    margin: 0px auto;
    width: 1000px;
    box-shadow: 0 2px 6px
    rgba(0,0,0);
    border-radius: 10px 10px 0px 0px;
}

.top-bar {
    background-color: azure;
    width: 1000px;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}
.nav-bar {
    background-color: darkgray;
    width: 1000px;
    height: 30px;
    box-shadow: 0 2px 6px
    rgba(0,0,0);
}
.nav-button {
    height: 30px;
    width: 100px;
    border: 2px solid black;
    background-color:gray;
    margin-left: 3px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}

.inlog-button {
    height: 30px;
    width: 100px;
    border: 2px solid black;
    background-color:gray;
    margin-left: 468px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}

button:hover {
    opacity: 0.8;
}

.a-style {
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: 5px;
}

.photo-style {
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

.main-block {
    width: 1000px;
    height: 600px;
    background: rgb(255, 255, 255);
}

.bottom-bar {
    width: 1000px;
    height: 150px;
    background-color:rgb(255, 255, 255);
}

.copy-bar {
    width: 1000px;
    height: 75px;
    background-color: rgb(19, 26, 37);
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 2px 6px
    rgba(0,0,0);
}

.copy-text {
    margin-top: 27px;
    margin-left: 250px;
}

.welcome-block {
    height: 30px;
    width: 200px;
    border: 2px solid black;
    position: relative;
    left: 50px;
    top: 50px;
    background-color: honeydew;
}

.welcome-txt {
    font-size: 20px;
    position: relative;
    bottom: 16px;
    left: 5px;
}

.menu-block {
    width: 300px;
    height: 300px;
    position: absolute;
    border: 2px solid black;
    margin-left: 30px;
    margin-top: 100px;
}

.menu-txt {
    font-size: 85px;
}

.school-block {
    height: 133px;
    width: 200px;
    border: 2px solid black;
    position: relative;
    left: 700px;
    top: 30px;
    border-radius: 0px 37px 0px 0px;
}

.school-pic {
    width: 200px;
}

.opleiding-block {
    height: 400px;
    width: 200px;
    border: 2px solid black;
    position: relative;
    left: 700px;
    top: 28px;
}

.opleiding1-pic {
    height: 110px;
    width: 200px;
}
.opleiding1-desc {
    width: 200px;
    height: 30px;
    border: 2px solid black;
    position: relative;
    right: 1px;
    background-color: honeydew;
}
.software-txt {
    font-size: 15px;
    position: relative;
    bottom: 10px;
}

.opleiding2-pic {
    height: 110px;
    width: 200px;
    position: relative;
    top: 110px;
}

.opleiding2-desc {
    width: 200px;
    height: 30px;
    border: 2px solid black;
    position: relative;
    right: 1px;
    background-color: honeydew;
    top: 107px;
}

.it-txt {
    font-size: 13px;
    position: relative;
    bottom: 6px;
}

.opleiding-fill-block {
    width: 200px;
    height: 108px;
    border-bottom: 2px solid black;
    position: absolute;
}

.input-block {
    width: 400px;
    height: 500px;
    border: 2px solid black;
    background-color: honeydew;
    margin-left: 75px;
    margin-top: 50px;
    position: absolute;
}

.input1 {
    border: 1px solid black;
    margin-left: 40px;
    margin-top: 60px;
    position: absolute;
    width: 250px;
}

.input2 {
    border: 1px solid black;
    margin-top: 120px;
    margin-left: 40px;
    position: absolute;
    width: 250px;
}

.input3 {
    border: 1px solid black;
    margin-top: 180px;
    margin-left: 40px;
    position: absolute;
    width: 250px;
}

.input4 {
    border: 1px solid black;
    margin-top: 240px;
    margin-left: 40px;
    position: absolute;
    width: 250px;
}

.input5 {
    border: 1px solid black;
    margin-top: 300px;
    margin-left: 40px;
    position: absolute;
    width: 250px;
}

.inschrijf-txt {
    position: absolute;
    font-size: 20px;
    margin-left: 50px;
}

.input1-txt {
    position: absolute;
    margin-left: 40px;
    margin-top: 80px;
    font-size: 13px;
    opacity: 0.5;
}

.input2-txt {
    position: absolute;
    margin-left: 40px;
    margin-top: 140px;
    font-size: 13px;
    opacity: 0.5;
}

.input3-txt {
    position: absolute;
    margin-left: 40px;
    margin-top: 200px;
    font-size: 13px;
    opacity: 0.5;
}

.input4-txt {
    position: absolute;
    margin-left: 40px;
    margin-top: 260px;
    font-size: 13px;
    opacity: 0.5;
}

.input5-txt {
    position: absolute;
    margin-left: 40px;
    margin-top: 320px;
    font-size: 13px;
    opacity: 0.5;
}

.regelbreedte {
    width: 1000px;
    position: absolute;
}

.bottom-streepjes {
    width: 400px;
    
}

.bottom-streepjes3 {
    width: 1500px;
    
}
